<p>name : <%= @character_type.name %></p>
<p>min_attack : <%= @character_type.attack_min %></p>
<p>max_attack : <%= @character_type.attack_max %></p>
<p>armor : <%= @character_type.armor %></p>
<p>life : <%= @character_type.life %></p>