<p>world_id : <%= @character.world_id %></p>
<p>classe_id : <%= @character.classe_id %></p>
<p>user_id : <%= @character.user_id %></p>
<p>total_experience : <%= @character.total_experience %></p>
<p>attack_min : <%= @character.classe.attack_min %> + <%= @character.bonus_attack_min %></p>
<p>attack_max : <%= @character.classe.attack_max %> + <%= @character.bonus_attack_max %></p>
<p>armor : <%= @character.classe.armor %> + <%= @character.bonus_armor %></p>
<p>life : <%= @character.classe.life %> + <%= @character.bonus_life %></p>