<%= form_for @world, url: {action: "update"} do |f| %>
  <p><%= f.text_field :name %></p>
  <p><%= f.check_box(:public) %><%= f.label(:public, "Rendre le serveur public (tout le monde peut rejoindre)") %></p>
  <p><%= f.submit "Create" %></p>
<% end %>

<%= link_to "Create classe", :controller => :classe, :action => :new %>
<%= link_to "Create monster", :controller => :monster, :action => :new %>
