<%= form_for @world, url: {action: "update"} do |f| %>
  <p><%= f.text_field :name %></p>
  <p><%= f.file_field :image %></p>
  <p><%= f.check_box(:public) %><%= f.label(:public, "Rendre le serveur public (tout le monde peut rejoindre)") %></p>
  <p><%= f.submit "Create" %></p>
<% end %>

<%= link_to "Create character type", :controller => :character_type, :action => :new, :world_id => @world.id %>
<%= link_to "Create monster", :controller => :monster, :action => :new, :world_id => @world.id %>
