<div class="content-wrapper">
  <div class="content content__overflow">
    <div class="scenario anim__in">

      <h2>First step</h2>

      <div class="scenario_content">

        <h3>Create your scenario</h3>

        <%= form_for @world, remote: true, url: {action: "create"} do |f| -%>
            <div class="scenario_content_form__active row">
              <div class="col m4">
                <div class="input-field file-field scenario_content_form__img">
                  <%= f.file_field :picture %>
                </div>
              </div>
              <div class="col m8">
                <div class="input-field">
                  <%= f.label :scenario_name %>
                  <%= f.text_field :name -%>
                </div>
                <div class="">
                  <%= f.check_box(:public) %>
                  <%= f.label(:public, "Make server as public ?") %>
                </div>
              </div>
            </div>

            <div class="scenario_content_form row">
              <div class="col m12">
                <p>Description :</p>
                <textarea></textarea>
              </div>
            </div>

            <div class="row">
              <%= f.button "Next step", :id => "newWorld", :class => "js-submit scenario_content_form__submit" -%>
            </div>
        <% end %>
      </div>
    </div>

    <ul class="progress">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>
</div>