<p>name : <%= @monster.name %></p>
<p>min_attack : <%= @monster.attack_min %></p>
<p>max_attack : <%= @monster.attack_max %></p>
<p>armor : <%= @monster.armor %></p>
<p>life : <%= @monster.life %></p>