<div class="content-wrapper">
  <div class="content content__overflow">
    <div class="scenario chapter anim__in">

      <h2>Third step</h2>

      <div class="scenario_content">

        <h3>Create your event</h3>

        <%= form_for @event, remote: true, url: {action: "create"} do |f| %>
            <div class="scenario_content_form__active row">
              <div class="col m4">
                <div class="input-field file-field scenario_content_form__img">
                  <%= f.file_field :picture %>
                </div>
              </div>
              <div class="col m8">
                <div class="input-field">
                  <%= f.label :title %>
                  <%= f.text_field :title %>
                </div>
                <div class="input-field">
                  <p>Description :</p>
                  <%= f.text_area :description %>
                </div>
              </div>
            </div>

            <%= f.hidden_field :world_id, value: @world_id %>
            <%= f.hidden_field :chapter_id, value: @chapter_id %>

            <div class="row">
              <%= f.button "Next step", :id => "newEvent", :class => "scenario_content_form__submit" -%>
            </div>
        <% end %>
      </div>
    </div>

    <ul class="progress">
      <li class="active"></li>
      <li class="active"></li>
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>
</div>