<div class="content-wrapper">
  <div class="content content__overflow">
    <div class="scenario chapter anim__in">

      <h2>Fourth step</h2>

      <div class="scenario_content">

        <h3>Create your reward</h3>

        <%= form_for @stuff, remote: true, url: {action: "create"} do |f| %>
            <div class="scenario_content_form__active row">
              <div class="col m4">
                <div class="input-field">
                  <%= f.label :name %>
                  <%= f.text_field :name %>
                </div>
              </div>
              <div class="col m8">
                <div class="row">
                  <div class="input-field col m6">
                    <%= f.label :bonus_attack %>
                    <%= f.number_field :bonus_attack %>
                  </div>
                  <div class="input-field col m6">
                    <%= f.label :bonus_armor %>
                    <%= f.number_field :bonus_armor %>
                  </div>

                  <div class="input-field col m6">
                    <%= f.label :bonus_life %>
                    <%= f.number_field :bonus_life %>
                  </div>
                  <div class="input-field col m6">
                    <%= label_tag :quantity %>
                    <%= number_field_tag :quantity %>
                  </div>
                </div>
              </div>
            </div>

            <%= hidden_field_tag :world_id, @world_id %>
            <%= hidden_field_tag :chapter_id, @chapter_id %>
            <%= hidden_field_tag :event_id, @event_id %>

            <div class="row">
              <%= f.button "Next step", :id => "newReward", :class => "scenario_content_form__submit" -%>
            </div>
        <% end %>
      </div>
    </div>

    <ul class="progress">
      <li class="active"></li>
      <li class="active"></li>
      <li class="active"></li>
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>
</div>